html,
body {
  height: 100%;
  margin-top: -15px !important;
  padding:0 !important;
}
.form-hashgen {
  max-width: 1200px;
  padding: 2.5rem;
}

.form-hashgen .form-floating:focus-within {
  z-index: 2;
}

.form-hashgen input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 5;
  border-bottom-left-radius: 5;
  border-color:rgb(29 29 48);
  border-width: 0.5rem;
}

.form-floating > .form-control:not(:placeholder-shown) ~ label::after {
  color: #9c9c9c !important;
  font-size: 2.8rem !important;
  z-index: -1 !important;
  position: absolute !important;
  inset: 2rem 4.375rem !important;

}
.form-floating > .form-control, .form-floating > .form-control-plaintext {
  padding: 0.75rem .75rem !important;
  padding-top: 8rem !important;
  text-wrap: inherit !important;
}

.form-floating > label {
  position: absolute;
  top: 0.5rem;
  left: 0;
  font-size: 3rem !important;
  text-wrap:balance !important;
  font-style: italic;
  font-weight: 800;
  z-index: 2;
  height: 100%;
  padding: 1rem 1.0rem !important;
  display: inline-block !important;
  overflow: hidden !important ;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  border: var(--bs-border-width) solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.form-floating label[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 5;
  border-bottom-left-radius: 5;
  border-color:rgb(47, 47, 50);
  border-width: 0.5rem;
}

.form-hashgen input[type="number"] {
  margin-bottom: 10px;
  border-top-left-radius: 5;
  border-top-right-radius: 5;
  border-color:rgb(29 29 48);
  border-width: 0.5rem;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(199, 80, 20, 0.712) !important;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}

.btn-primary {
    border-width: 0.5rem !important;
  --bs-btn-color: rgb(156, 156, 156) !important;
  --bs-btn-bg: rgb(34, 37, 41) !important;
  --bs-btn-border-color: transparent !important;

  --bs-btn-hover-color: rgb(156, 156, 156) !important;
  --bs-btn-hover-bg: rgb(34, 37, 41) !important;
  --bs-btn-hover-border-color: rgba(199, 80, 20, 0.712) !important;
  --bs-btn-focus-shadow-rgb: rgba(199, 80, 20, 0.712) !important;
  
  --bs-btn-active-color: rgb(156, 156, 156) !important;
  --bs-btn-active-bg: rgba(199, 80, 20, 0.712) !important;
  --bs-btn-active-border-color: rgba(128, 53, 16, 0.712) !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgb(29, 29, 48) !important;
  
}